header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    border-right: none;
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(10px);
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}

.nav-item {
    list-style: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo img {
    width: 8rem;
    margin-left: 200px;
    opacity: 0;
    animation: logo 5s ease forwards;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 150px;
    opacity: 0;
    animation: cabecalho 5s ease forwards;
}

.menu__link {
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
    position: relative;
    text-decoration: none;
}

.menu__link::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu__link:hover::after {
    width: 100%;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.barr {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {
    .logo img {
        height: 5rem;
        margin-left: 0;
    }
    .hamburguer {
        display: block;
    }

    .hamburguer.active .barr:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .barr:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .barr:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 85px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        z-index: 1;
        background: rgba(0, 0, 0, .6);
        backdrop-filter: blur(800px);
        border-bottom: solid 1px rgba(255, 255, 255, 0.452);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        margin-right: 0;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}


@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cabecalho {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}