.contato {
    background-color: #80C4FD;
    
}

.titulo__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #045BC0;
    font-size: 50px;
    text-shadow: 0 4px 4px #000;
}

.contato__formulario {
    padding: 16px;
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato__fundo {
    padding: 3em;
    max-width: 500px;
    border-radius: .3125em;
    background-color: #80C4FD;
    box-shadow: 5px 5px 20px -5px #000;
}
.contato__label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.contato__input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #D5D5D5;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

.contato__escolha {
    display: block;
    font-size: 20px;
}

.escolha__posicao {
    display: block;
    align-items: center;
    justify-items: center;  
    margin-bottom: 5px;
}

.escolha__estilo {
    margin: 10px;
    cursor: pointer;
}

.mensagem__caixa {    
    font-size: 15px;
    border-radius: 5px;
    background-color: #D5D5D5;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    margin-top: 10px;
}

.botao__posicao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
}

.botao__fundo {
    width: 70%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #D5D5D5;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    padding: 25px 0;
    transition: ease-in-out 0.8s;    
}

.botao__fundo:hover {
    background: #80C4FD;
    box-shadow: 5px 5px 20px -5px #000;
}

.botao__estilo {
    font-size:25px;
    width:50%;
    text-align: center;
    padding: 12px 0 ;
    transition: ease-in-out 0.6s;
}

.botao__estilo:hover {
    letter-spacing: 5px;
    color: #000;
}


.custom-shape-divider-bottom-1673478215 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #80C4FD;
}

.custom-shape-divider-bottom-1673478215 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1673478215 .shape-fill {
    fill: #12567D;
}