.contato {
    background-color: #80C4FD;
    
}

.titulo__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #045BC0;
    font-size: 50px;
    text-shadow: 0 4px 4px #000;
}

.contato__formulario {
    padding: 16px;
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato__fundo {
    padding: 3em;
    max-width: 500px;
    border-radius: .3125em;
    background-color: #80C4FD;
    box-shadow: 5px 5px 20px -5px #000;
}
.contato__label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.contato__input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #D5D5D5;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

.contato__escolha {
    display: block;
    font-size: 20px;
}

.escolha__posicao {
    display: block;
    align-items: center;
    justify-items: center;  
    margin-bottom: 5px;
}

.escolha__estilo {
    margin: 10px;
}

.mensagem__caixa {    
    font-size: 15px;
    border-radius: 5px;
    background-color: #D5D5D5;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    margin-top: 10px;
}

.custom-shape-divider-top-1673050697 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #12567D;
}

.custom-shape-divider-top-1673050697 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 61px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1673050697 .shape-fill {
    fill: #80C4FD;
}