
.image__container:hover img:not(:hover) {
	opacity: 0.3;
}

.galeria__imagem {
    background-color: #D5D5D5;
    min-height: 100vh;
    position: relative;
}

.titulo__galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #045BC0;
    font-size: 50px;
    text-shadow: 0 4px 4px #000;
}

.galeria__imagem .image__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.galeria__imagem .image__container .image {
    height: 250px;
    width: 350px;
    border: 4px solid #12567D;
    box-shadow: 5px 5px 20px -5px #4589AA;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
}

.galeria__imagem .image__container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.galeria__imagem .image__container .image:hover img {
    transform: scale(1.1);
}

.galeria__imagem .popup__image {
    position: fixed;
    top: 0; left:0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.galeria__imagem .popup__image span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.galeria__imagem .popup__image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #12567D;
    border-radius: 5px;
    width: 600px;
    object-fit: cover;
}

@media (max-width:768px) {
    .galeria__imagem .popup__image img {
        width: 90%;
    }
}

.wave__02 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #12567D;
}

.wave__02 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.wave__02 .shape-fill {
    fill: #D5D5D5;
    
}
