#banner {
    display: flex;
 }

 .fundo__banner {
    background: linear-gradient(63.13deg, #c4d6e2 51.04%, #307194 51.05%);
    background-size: cover;
    height: 100vh;
 }
/*início fotos slides*/
.slider {
    width: 500px;
    height: 480px;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #12567D;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    margin-left: 60px;
    margin-top: 130px;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}
/*fim fotos slides*/

/*Navegação entre as fotos*/
.navigation-bar {
    margin: 6px;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    left: 83%;
    bottom: 60px;
    transform: translate(-50%);
    display: flex;
}

.bar {
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.bar:hover{
    background: #777;
    transition: 0.4s;
}

.slides__input {
    display: none;
}
/*fim da navegação de fotos*/

/*início da animação das fotos*/
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
/*fim da animação das fotos*/

/*início da escrita*/
.banner__titulo {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 15%;
    color: #fdfdfd;
    font-size: 2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*botão de orçamento*/

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 500px;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: #4070f4;
    font-size: 30px;
    font-weight: 600;
}

.container .text.first-text {
    color: #fff;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #307194;
    border-left: 2px solid #12567D;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.custom-shape-divider-bottom-1673304923 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: linear-gradient(63.13deg, #c4d6e2 64.04%, #307194 51.05%);
}

.custom-shape-divider-bottom-1673304923 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1673304923 .shape-fill {
    fill: #12567D;
}