.fundo__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(63.13deg, #c4d6e2 51.04%, #307194 51.05%);
    background-size: cover;
    height: 100vh;
 }

 /* Slides Fotos */
.slider {
    width: 500px;
    height: 480px;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #12567D;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    margin-left: 40px;
    margin-top: 80px;
    box-shadow: 5px 5px 20px -5px #000;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* Navegação Entre as Fotos */
.navigation-bar {
    margin: 6px;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    left: 83%;
    bottom: 60px;
    transform: translate(-50%);
    display: flex;
}

.bar {
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.bar:hover{
    background: #777;
    transition: 0.4s;
}

.slides__input {
    display: none;
}

/* Animação das Fotos*/
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
/* Slides Fotos */

/* Informações Iníciais */
.banner__posicao {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-left: 100px;
    animation: banner__posicao 0.75s;
}

.titulo {
    color: #fdfdfd;
    font-size: 4em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 10px;
    margin-left: 130px;
}

.banner__conteudo {
    font-size: 2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 10px;
    width: 400px;
    color: #D5D5D5;
    opacity: 0,5;
    margin-top: 80px;
    margin-left: 300px;
}

/* Animação da Escrita */
.banner__animacao {
    overflow: hidden;
    width: 400px;
    margin-top: 80px;
    margin-right: 30px;
}

.container {
    width: 100%;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: #4070f4;
    font-size: 2em;
    font-weight: 600; 
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
}

.container .text.first-text {
    font-size: 2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 10px;
    margin-bottom: 30px;
    width: 500px;
    color: #D5D5D5;
    opacity: 0,5;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #307194;
    border-left: 2px solid #4070f4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

/* Transição / Animção */
@keyframes banner__posicao {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:480px)  {
    .fundo__banner {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #c4d6e2;    
        height: 680px;
    }

    .slider {
        margin-left: 0;
        margin-top: 90px;
        height: 20em;
        width: 20em;
        box-shadow: 5px 5px 20px -5px #000;
    }

    .navigation-bar {
        margin-right: -15%;
    }

    .banner__posicao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .titulo {
        font-size: 71px;
        margin-left: 57%;
        margin-bottom: auto;
        color: #fff;
    }

    .banner__conteudo {
        font-size: 27px;
        color: #fff;
        margin-top: 22px;
        margin-left: 88%;
        margin-bottom: auto;
    }

    .container .text {
        color: #fff;
        font-size: 24px;
    }

    .banner__animacao {
        margin-left: 62px;
        margin-top: 4%;
        margin-bottom: 38px;
    }

    .container .text.first-text {
        color: #fff;
        font-size: 24px;
    }

    .text.sec-text:before{
        background-color:  #c4d6e2;
    }

    .container {
        margin-left: 10%;
    }
}