.quem__somos {
    background-color: #12567D;
}

.quemsomos__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2E5C8;
    font-size: 50px;
    text-shadow: 0 4px 4px rgb(0, 0, 0);
}

.conteudo {
    display: flex;
    align-items: center;
}

.mascote {
    margin-left: 5%;
}

.quemsomos__posicao {
    margin-left: 10%;
}

.quemsomos__hover {
    transition: 1s all;
}

.quemsomos__hover:hover {
    transform: scale(1.1);
	box-shadow: 5px 5px 5px 0 #000;
    border-radius: 15px;

}

.quemsomos__icone {
    font-size: 30px;
    color: #B29D76;
}

.subtitulo {
    font-size: 30px;
    margin-bottom: 5px;
    color: #B29D76;
}

.descricao  {
    margin-bottom: 30px;
    font-size: 20px;
    width: 500px;
    color: #D5D5D5;
    opacity: 0,5;
}

.wave__01 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: linear-gradient(63.13deg, #c4d6e2 64.04%, #307194 51.05%);
}

.wave__01 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 73px;
}

.wave__01 .shape-fill {
    fill: #12567D;
}

@media (max-width:480px) {
    .quem__somos {
        display: flex;
        flex-wrap: wrap;
    }

    .wave__01 {
        display: none;
    }

    .conteudo {
        align-items: center;
        flex-direction: column;
    }

    .mascote {
        height: 25em;
        width: 25em;
    }

    .quemsomos__titulo {
        text-align: center;
    }
}