/*.scroll-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.scroll {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translate3d(0, 2rem, 0);
}*/
.quem__somos {
    background-color: #12567D;
}

.quemsomos__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2E5C8;
    font-size: 50px;
    text-shadow: 0 4px 4px rgb(0, 0, 0);
}

.conteudo {
    display: flex;
    align-items: center;
}

.mascote {
    margin-left: 5%;
}

.quemsomos__posicao {
    margin-left: 10%;
}

.quemsomos__hover {
    transition: 1s all;
}

.quemsomos__hover:hover {
    transform: scale(1.1);
	box-shadow: 5px 5px 5px 0 #000;
    border-radius: 15px;

}

.quemsomos__icone {
    font-size: 30px;
    color: #B29D76;
}

.subtitulo {
    font-size: 30px;
    margin-bottom: 5px;
    color: #B29D76;
}

.descricao  {
    margin-bottom: 30px;
    font-size: 20px;
    width: 500px;
    color: #D5D5D5;
    opacity: 0,5;
}

.primeira__wave {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.primeira__wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.primeira__wave .shape-fill {
    fill: #D5D5D5;
    
}