/*início do cabeçalho*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw; 
    background-image: linear-gradient(345deg, #307194, #88afc6, #c4d6e2, #ffffff)
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
    top: 0;
    z-index: 1;
    border-right: none;
}

 .logo {
    height: 150px;
    display: block;
    justify-content: center;
 }
 .menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #000000;
    margin-right: 1.25rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}

.menu__link:last-child {
    margin-right: none;
}

.menu__link:hover {
    text-decoration: underline;
}
/*fim do cabeçalho*/

/*início do banner*/
.banner {
    display: grid;
    grid-template-areas: "banner";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.banner__grid {
    grid-area: banner;
}

.banner__apresentacao {
    display: grid;
    grid-template-columns: 50% 38%;
}

.animacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*início das fotos de navegação*/
.slider {
    width: 500px;
    height: 480px;
    overflow: hidden;
    border-radius: 20px;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}
/*início das fotos de navegação*/

/*início da barra de navegação das fotos*/
.navigation-bar {
    margin: 6px;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    left: 83%;
    bottom: 60px;
    transform: translate(-50%);
    display: flex;
}

.bar {
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.bar:hover{
    background: #777;
    transition: 0.4s;
}

.teste {
    display: none;
}
/*fim da barra de navegação das fotos*/

/*início da animação das fotos*/
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
/*fim da animação das fotos*/

/*início da escrita e botão do home*/
.banner__titulo {
    font-family: pacifico, cursive;
    color: #fdfdfd;
    font-size: 2em;
    position: relative;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.botao {
    left: 30%;
    position: relative;
    
}

.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}
/*fim da escrita e botão do home*/

/*início de quem somos*/

.quem__somos {
    
}

.wave {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
    transform: rotateY(180deg);
}

.Wave .shape-fill {
    fill: red;
}

.wave__segunda {
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave__segunda svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.wave__segunda .shape-fill {
    fill: #ddd;
}

/*galeria de imagem*/

.image__container:hover img:not(:hover) {
	opacity: 0.3;
}

.galeria__imagem {
    position: relative;
    min-height: 100vh;
    background: #ddd;
}

.titulo__principal {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color:#333;
    text-align: center;
    text-transform: capitalize;
}

.galeria__imagem .image__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.galeria__imagem .image__container .image {
    height: 250px;
    width: 350px;
    border: 5px solid #184E7D;
    box-shadow: 5px 5px 20px -5px #01962B;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.galeria__imagem .image__container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.galeria__imagem .image__container .image:hover img {
    transform: scale(1.1);
}

.galeria__imagem .popup__image {
    position: fixed;
    top: 0; left:0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.galeria__imagem .popup__image span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.galeria__imagem .popup__image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px) {
    .galeria__imagem .popup__image img {
        width: 95%;
    }
}
/*fim da galeria de imagem*/

/*começo contato*/
.contato__form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 16px;
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato__fundo {
    padding: 3em;
    max-width: 500px;
    border: .5px solide #167bf7;
    background: rgba(9, 51, 102, .4);
    border-radius: .3125em;
}
.contato__label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

.contato__input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
}

.contato__escolha {
    display: block;
    font-size: 20px;
}

.escolha__posicao {
    display: block;
    align-items: center;
    justify-items: center;  
    margin: 0 0 10px;
}
/*fim do contato*/

/*inicío rodape*/
.rodape {
	text-align: center;
	padding: 40px 0;
}

.rodape p {
	color: white;
	font-size: 13px;
	margin-top: 20px;
}

.logo__rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape__imagem {
    height: 150px;
    
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
/*inicío rodape*/



/*teste do que sera usado em quem somos*/

.wrapper{
    width:100%;
    height:100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.wrapper .box{
    position: relative;
    width:280px;
    height:400px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius:15px;
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transform: perspective(800px) 
}
.box__teste{
    color:#f5f5f5;
    font-size:2.5rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
.box__lorem{
    color:#ccc;
    margin:20px 10px;
    font-family: 'Fira Code', monospace;
}

/*//////////////////////////////////////////////////////////////////////////////*/

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: stretch;
  }
  
  .item {
    position: relative;
    width: 380px;
    padding: 30px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 0 0 15px 15px;
  }
  
  .heading {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    transform: translateY(-100%);
  }
  .heading::before {
    content: "";
    flex: 1;
    height: 15px;
    margin-right: 15px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    border-radius: 15px 0;
    transform: translateX(-5px);
  }
  .heading::after {
    content: "";
    flex: 1;
    height: 15px;
    margin-left: 15px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-radius: 0 15px;
    transform: translateX(5px);
  }
  
  .paragraph {
    font-size: 20px;
    line-height: 1.5;
  }