/*início do cabeçalho*/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    background: linear-gradient(72deg, rgba(68, 124, 226, 0.85) 10%, rgba(22, 248, 194, 0.85) 99%);
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
    border-right: none;
}

 .logo {
    height: 150px;
    display: block;
    justify-content: center;
 }

 .menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: #000000;
    margin-right: 1.25rem;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}

.menu__link:last-child {
    margin-right: none;
}

.menu__link:hover {
    text-decoration: underline;
}
/*fim do cabeçalho*/

/*início do banner*/
.banner {
    display: grid;
    grid-template-areas: banner;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.banner__grid {
    grid-area: banner;
}
.animacao {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__titulo {
    font-family: pacifico, cursive;
    color: #fdfdfd;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}
